[Unit]
Description=Announce database
After=etcd.service
After=database.service
BindsTo=database.service

[Service]

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

ExecStart=/bin/sh -c "while true; do etcdctl set /services/database '${COREOS_PRIVATE_IPV4}:5432' --ttl 60; sleep 45; done"
ExecStop=/usr/bin/etcdctl rm /services/database

[X-Fleet]
MachineOf=database.service
